@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  color: rgb(109, 105, 105);
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


.header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
}

.header ul,
.footer ul {
  padding: 18px;
  margin: 0;
  display: flex;
  gap: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons button {
  padding: 8px 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}