/* Add CSS Styling */
.odd {
    background-color: rgb(232, 119, 119);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#number-2 {
    color: rgb(17, 53, 235);
    font-size: 36px;
}

.number-3 {
    font-size: 24px;
}

#number-4 {
    background-color: rgb(109, 221, 132);
    font-size: 24px;
    font-weight: bold;
}