/* Add CSS Styling */
.yellow-button,
.black-button {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

.yellow-button {
    background-color: lch(96.83% 96.94 103.84)
}

.black-button {
    background-color: lch(0 0 0);
    color: lch(100% 0.01 296.81);
}