body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  font-size: 16px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 10px 10px 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 20px 5px;
}

.button-container {
  text-align: center;
  margin-top: 10px;
  background: #e3f4ff;
  padding: 5px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background: white;
  border: 1px solid #eee;
}